th,td{
    border: 1px solid black;
}
caption{
    border: 1px solid black;
}
#soft{
    text-align: center;
}
/* legend{
    border: 1px solid black;
} */
main {
    
   border: 1px solid black;
}